/* 
Css for Geonarrative Generator itself
Not for templates
 */

 body,
 html{
     margin: 0;
     padding: 0;
	 font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 }


 /* Body Wrapper */
 #generatorBody{
     display: block;
     width: 95%;
     max-width: 800px;
     margin: 0 auto;
     color: #050821;
 }

 /* General and universal styles for elements used multiple times */
h1{
     font-size: 34px;
     font-weight: 700;
 }
p{
     font-size: 16px;
	 line-height: 22px;
     font-weight: 500;
	 color: black;
     padding: 12px 0;
 }
 p.desc{
	 font-weight: 400;
	 line-height: 28px;
 }
hr{
     border: none;
     border-top: 1px dashed rgba(10,20,40,0.5);
     margin: 25px 0;
 }
a{
    color: #0F8AFF;
 }
a:hover{
     cursor: pointer;
     color: #0070DB;
 }


 /* Form */
 label{
     box-sizing: border-box;
     padding: 24px 0 8px 0;
     display: block;
     font-size: 18px;
     font-weight: 500;
 }
 /* Asterisk */
label em{
     font-weight: bolder;
     color: #FF0B40;
     font-style: normal;
 }
 input,
 textarea,
 select{
     width: 100%;
     background-color: #F8F9FA;
     border: none;
     font-size: 20px;
	 font-family: inherit;
     box-sizing: border-box;
     color: #050821;
     padding: 8px;
     letter-spacing: -0.2px;
     transition: 0.12s;
     border-radius: 3px;
     border: 1px solid #EEF0F3;
     margin-bottom: 1px;
 }


 /* Focus / Accessibility */
 input,button,textarea,select,a{
	outline: 2px dotted transparent;
	outline-offset: -2px;
	transition: outline 0.12s ease, outline-offset 0.12s ease;
 }

 input:focus,
 button:focus,
 textarea:focus,
 select:focus,
 a:focus{
	 outline: 2px dotted rgba(50,50,50, 0.4) !important;
	 outline-offset: 0px;
	 transition: outline 0.12s ease, outline-offset 0.12s ease;
 }


 small{
    margin-bottom: 12px;
    display: block;
    font-size: 13px;
    padding-top: 8px;
    color: rgba(10,10,30,0.4);
}
 small a{
    display: inline-block;
    padding: 0 5px 0 0;
}

#generatorFormButtons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}
 button{
    display: block;
    width: 160px;
    color: white;
    background-color: #0F8AFF;
    transition: 0.12s;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.2px;
    border: none;
    border-radius: 3px;
    margin-top: 12px;
}
 button:hover{
    transition: 0.12s;
    cursor: pointer;
    background-color: #0070DB;
	text-decoration: underline;
}



 /* Header with WIM Logo */
 header#main{
     display: block;
     width: 100%;
     box-sizing: border-box;
     padding: 55px 0;
 }

 header#main img{
     display: block;
     height: auto;
     width: 220px;
     max-width: 100%;
 }


 /* Footer */
 #generatorFooter{
    text-align: center;
	font-weight:500;
    font-size: 13px;
	color: black;
    margin-bottom: 25px;
    margin-top: 35px;
 }

 /* Form Error */
 #generatorError{
     text-align: center;
     width: 100%;
     padding: 12px;
     box-sizing: border-box;
     width: 100%;
     margin: 0 auto;
     background-color: #FF0B40;
     color: white;
     position: fixed;
     top: 0;
     left: 0;
     font-size: 14px;
     font-weight: 600;
     letter-spacing: 0.2px;
     display: none;
 }


 /* Message when download finishes */
 #generatorFinished{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100vw;
     height: 100vh;
     position: fixed;
	 background-color: rgba(0,0,50,0.5);
	 backdrop-filter: blur(2px);
     top: 0;
     left: 0;
     box-sizing: border-box;
     display: none;
 }


 #generatorFinishedBody{
	background-color: white;
	max-width: 420px;
	width: 98%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 20px 20px 20px;
	border-radius: 4px;
 }

 #generatorFinished a img{
     margin: 0 auto 0 auto;
     width: 60px;
     height: auto;
 }

 /* Hide output */
 #generatedOutput{
     display: block;
     height: 0px;
     width: 0px;
     opacity: 0;
 }